:root {
//  Paleta de colores
  --cadet-blue-050: #E6EBEC;
  --cadet-blue-100: #CED8D9;
  --cadet-blue-200: #B5C4C6;
  --cadet-blue-300: #9CB1B3;
  --cadet-blue-400: #849DA0;
  --cadet-blue-500: #6C898C; // Primario
  --cadet-blue-600: #5A7275;
  --cadet-blue-700: #485B5D;
  --cadet-blue-800: #364546;
  --cadet-blue-900: #242E2F;

  --indian-red-050: #F5DDDD;
  --indian-red-100: #ECBABA;
  --indian-red-200: #E29898;
  --indian-red-300: #D87575;
  --indian-red-400: #CE5353; // Secundario
  --indian-red-500: #BF3636;
  --indian-red-600: #9F2D2D;
  --indian-red-700: #7F2424;
  --indian-red-800: #601B1B;
  --indian-red-900: #401212;

  --white: #FFFFFF;
  --gray-050: #F2F2F2; // Base
  --grey-500: #56585E;
  --grey-900: #212224;
  --black: #000000;
}