:root {
  // Paleta de colores
  --cadet-blue-050: #E6EBEC;
  --cadet-blue-100: #CED8D9;
  --cadet-blue-200: #B5C4C6;
  --cadet-blue-300: #9CB1B3;
  --cadet-blue-400: #849DA0;
  --cadet-blue-500: #6C898C; // Primario
  --cadet-blue-600: #5A7275;
  --cadet-blue-700: #485B5D;
  --cadet-blue-800: #364546;
  --cadet-blue-900: #242E2F;

  --indian-red-050: #F5DDDD;
  --indian-red-100: #ECBABA;
  --indian-red-200: #E29898;
  --indian-red-300: #D87575;
  --indian-red-400: #CE5353; // Secundario
  --indian-red-500: #BF3636;
  --indian-red-600: #9F2D2D;
  --indian-red-700: #7F2424;
  --indian-red-800: #601B1B;
  --indian-red-900: #401212;

  --white: #FFFFFF;
  --gray-050: #F2F2F2;
  --gray-500: #56585E;
  --gray-900: #212224;
  --black: #000000;


  /* --- MODO CLARO --- */
  // Fondo página
  --page-bg-color: var(--gray-050);
  --page-containers-bg-color: var(--white);

  // Header
  --header-bg-color: var(--cadet-blue-500);
  --header-text-color: var(--white);

  // Footer
  --footer-bg-color: var(--cadet-blue-500);
  --footer-text-color: var(--white);

  // Texto
  --h1-text-color: var(--cadet-blue-500);
  --h2-text-color: var(--cadet-blue-600);
  --h3-text-color: var(--cadet-blue-700);
  --h4-text-color: var(--cadet-blue-800);
  --h5-text-color: var(--cadet-blue-900);
  --h6-text-color: var(--cadet-blue-900);
  --p-text-color: var(--black);

  // Formularios
  --form-text-color: var(--black);
  --form-input-bg-color: var(--gray-050);

  // Cards
  --card-bg-color: var(--white);
  --card-title-color: var(--indian-red-600);
  --card-text-color: var(--black);
  --card-reverse-text-color: var(--white);

  // Iconos
  --icon-color: var(--cadet-blue-900);

  // Botones
  --btn-primary-bg-color: var(--cadet-blue-500);
  --btn-primaty-bg-color-hover: var(--cadet-blue-700);
  --btn-primary-text-color: var(--gray-050);

  --btn-secondary-bg-color: var(--gray-050);
  --btn-secondary-bg-color-hover: var(--gray-500);
  --btn-secondary-text-color: var(--cadet-blue-600);

  --btn-cancel-bg-color: var(--white);
  --btn-cancel-border-color: var(--indian-red-400);
  --btn-cancel-text-color: var(--indian-red-400);
  --btn-cancel-border-color-hover: var(--indian-red-600);
  --btn-cancel-text-color-hover: var(--indian-red-600);
}

[data-theme="dark"] {
  // Fondo página
  --page-bg-color: var(--gray-500);
  --page-containers-bg-color: var(--gray-900);

  // Header
  --header-bg-color: var(--cadet-blue-900);
  --header-text-color: var(--white);

  // Footer
  --footer-bg-color: var(--cadet-blue-900);
  --footer-text-color: var(--white);

  // Texto
  --h1-text-color: var(--cadet-blue-200);
  --h2-text-color: var(--cadet-blue-300);
  --h3-text-color: var(--cadet-blue-400);
  --h4-text-color: var(--cadet-blue-500);
  --h5-text-color: var(--cadet-blue-600);
  --h6-text-color: var(--cadet-blue-700);
  --p-text-color: var(--white);

  // Formularios
  --form-text-color: var(--white);
  --form-input-bg-color: var(--gray-500);

  // Cards
  --card-bg-color: var(--gray-900);
  --card-title-color: var(--indian-red-100);
  --card-text-color: var(--white);
  --card-reverse-text-color: var(--white);

  // Iconos
  --icon-color: var(--gray-050);

  // Botones
  --btn-primary-bg-color: var(--cadet-blue-200);
  --btn-primaty-bg-color-hover: var(--cadet-blue-500);
  --btn-primary-text-color: var(--gray-900);

  --btn-secondary-bg-color: var(--gray-050);
  --btn-secondary-bg-color-hover: var(--gray-500);
  --btn-secondary-text-color: var(--cadet-blue-600);

  --btn-cancel-bg-color: var(--gray-900);
  --btn-cancel-border-color: var(--indian-red-400);
  --btn-cancel-text-color: var(--indian-red-400);
  --btn-cancel-border-color-hover: var(--indian-red-600);
  --btn-cancel-text-color-hover: var(--indian-red-600);
}
