%botones {
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;

  font-size: 1.25rem;
  font-weight: bold;

  cursor: pointer;
  transition: all ease 0.5s;
}

%campos-formulario {
  border-radius: 0.5rem;
  border: none;
  border-bottom: 2px solid var(--gray-900);
}