/* --- ESTILOS COMUNES ENTRE LAS TARJETAS PEQUEÑAS Y GRANDES --- */

.texto-receta__titulo {
  color: var(--card-title-color);
  font-size: 2.5rem;

  // El titulo ocupa 2 lineas
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.texto-receta__listado {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listado__dato {
  font-size: 1.25rem;
  color: var(--p-text-color);
}


/* --- TARJETAS PEQUEÑAS --- */

/* Contenedor principal */
//.spinner {
//  perspective: 1000px; /* Permite el efecto 3D */
//  width: 19rem;
//  height: 24.5rem;
//}

/* Contenedor interno de la tarjeta */
//.card-inner {
//  position: relative;
//  width: 100%;
//  height: 100%;
//  transform-style: preserve-3d;
//  transition: transform 0.6s; /* Suavizado de la rotación */
//}

/* Activar el giro con hover */
//.spinner:hover .card-inner {
//  transform: rotateY(180deg); /* Rota 180° en el eje Y */
//}

//.receta-pequenia-back {
//  background-color: var(--card-bg-color);
//  cursor: pointer;
//  //display: flex;
//  //flex-direction: column;
//  //align-items: center;
//  justify-content: center;
//  border: 1px solid black;
//}


.receta-pequenia-back {
  background-color: var(--card-bg-color) ;

  height: 24.5rem;
  width: 19rem;

  cursor: pointer;

  backface-visibility: hidden;
}

@media (max-width: 1370px) {
  .receta-pequenia-back {
    width: 18rem;
  }
}

@media (max-width: 330px) {
  .receta-pequenia-back {
    width: 17rem;
  }
}

/* Cara trasera */
//.receta-pequenia-front {
//  background-color: beige;
//  transform: rotateY(180deg); /* Inicia girada para estar "detrás" */
//
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  font-size: 1.5rem;
//  border: 1px solid black;
//}

/* Ambas caras de la tarjeta */
//.receta-pequenia-front,
//.receta-pequenia-back {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  backface-visibility: hidden; /* Oculta la cara trasera cuando no está activa */
//}





.receta-paquenia__imagen {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.receta-paquenia__texto-receta {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include padding(0.5rem, 0.5rem, 1rem, 1rem)
}

@keyframes spin {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}


/* --- TARJETAS GRANDES --- */

.receta-grande {
  background-color: var(--card-bg-color);

  display: flex;

  height: 16rem;
  width: 100%;

  cursor: pointer;
}

.receta-grande__imagen {
  width: 18rem;
  height: 16rem;
  object-fit: cover;
}

.receta-grande__texto-receta {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include padding(0.5rem, 0.5rem, 1rem, 1rem)
}

.texto-receta__tiempo {
  display: flex;
  gap: 0.5rem;
}

.tiempo__imagen {
  height: 1.5rem;
}

.tiempo__numero {
  font-size: 1.5rem;
  color: var(--p-text-color);
}