.busqueda {
  display: flex;
}


/* --- FILTROS DE BÚSQUEDA --- */

.busqueda__filtros {
  background-color: var(--page-containers-bg-color);

  flex: 1;

  @include padding(2rem, 2rem, 6rem, 2rem)
}

@media (max-width: 1690px) {
  .busqueda__filtros {
    flex: 1.5;
  }

  .busqueda__resultados {
    flex: 3.5;
  }
}

@media (max-width: 1433px) {
  .busqueda__filtros {
    flex: 2;
    @include padding(2rem, 2rem, 4rem, 2rem)
  }

  .busqueda__resultados {
    flex: 3;
    @include padding(2rem, 2rem, 2rem, 4rem);

  }
}

@media (max-width: 1070px) {
  .busqueda__filtros {
    flex: 3;
    @include padding(2rem, 2rem, 4rem, 2rem);
  }

  .busqueda__resultados {
    flex: 2;
    @include padding(2rem, 2rem, 2rem, 4rem);
    justify-content: center;
  }
}

@media (max-width: 784px) {
  .resultados__paginacion {
    flex-direction: column;
  }
}

@media (max-width: 680px) {
  .busqueda {
    flex-direction: column;
  }

  .busqueda__filtros {
    flex: 3;
  }

  .busqueda__resultados {
    flex: 2;
    @include padding(2rem, 2rem, 2rem, 2rem);
  }

  .resultados__paginacion {
    flex-direction: row;
  }
}

@media (max-width: 420px) {
  .resultados__paginacion {
    flex-direction: column;
  }
}


/* --- BUSQUEDA SIN RESULTADOS --- */
.resultados__nada {
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}

.nada__imagen {
  height: 2rem;
}

.nada__mensaje {
  text-align: center;
  color: var(--p-text-color);
}


/* --- RESULTADOS --- */

.busqueda__resultados {
  flex: 4;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.25rem;

  @include padding(2rem, 2rem, 2rem, 2rem)
}

.resultados__encabezado {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;
}

.encabezado__contador {
  color: var(--results-text-color);
  font-size: 2rem;
  font-family: "Medula One", Helvetica, Arial, sans-serif;

  display: flex;
  flex-direction: column;
}

.contador__numero {
  color: var(--p-text-color);
  font-size: 1.25rem;
  font-family: "Asap", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.vista__imagen {
  height: 2rem;

  cursor: pointer;
}


/* --- PAGINACIÓN --- */

.resultados__paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;
}
