.entrada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}


/* --- PORTADA --- */

.entrada__portada {
  background-color: var(--page-containers-bg-color);

  display: flex;
  gap: 2.5rem;

  width: 100%;
  @include padding(4rem, 4rem, 6rem, 6rem);
}

.portada__texto {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;

  max-width: 50%;
}

.texto__titulo {
  color: var(--h1-text-color);
  font-size: 9rem;
  line-height: 7rem;

  transition: font-size 0.3s ease, line-height 0.3s ease;
}

.texto__subtitulo {
  color: var(--h2-text-color);
  font-size: 4rem;

  transition: font-size 0.3s ease;
}

.portada__imagen {
  object-fit: cover;
  max-width: 50%;

  transition: width 0.3s ease, height 0.3s ease, max-width 0.3s ease;
}

/* --- @MEDIAS --- */
@media (max-width: 1330px) {
  .texto__titulo {
    font-size: 8rem;
    line-height: 6rem;
  }

  .texto__subtitulo {
    font-size: 3rem;
  }
}

@media (max-width: 1160px) {
  .texto__titulo {
    font-size: 7rem;
    line-height: 5rem;
  }
}

@media (max-width: 1015px) {
  .entrada__portada {
    @include padding(4rem, 4rem, 4rem, 4rem);
  }

  .texto__titulo {
    font-size: 6rem;
    line-height: 4rem;
  }
}

@media (max-width: 843px) {
  .entrada__portada {
    flex-direction: column;
  }

  .portada__texto {
    max-width: 100%;
  }

  .portada__imagen {
    max-width: 100%;
  }
}

@media (max-width: 728px) {
  .entrada__portada {
    @include padding(4rem, 4rem, 3rem, 3rem);
  }

  .texto__titulo {
    font-size: 5rem;
    line-height: 4rem;
  }
}

@media (max-width: 628px) {
  .texto__titulo {
    font-size: 4rem;
    line-height: 4rem;
  }

  .texto__subtitulo {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  .entrada__portada {
    @include padding(4rem, 4rem, 2rem, 2rem);

  }
}


/* --- RECETAS ALEATORIAS --- */

.entrada__aletatorias {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;

  @include padding(4rem, 4rem, 6rem, 6rem);
}

@media(max-width: 1468px) {
  .entrada__aletatorias {
    @include padding(4rem, 4rem, 3rem, 3rem);
  }
}

/* --- PAGINACIÓN --- */

.entrada__paginacion {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.paginacion__boton {
  @extend %botones;
  background-color: var(--btn-primary-bg-color);
  color: var(--btn-primary-text-color);
  border: 0.25rem solid var(--btn-primary-border-color);
}

.paginacion__boton:hover {
  background-color: var(--btn-primaty-bg-color-hover);
}

.paginacion__boton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.paginacion__texto {
  color: var(--p-text-color);
}