.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @include padding(3.5rem, 3.5rem, 6rem, 6rem);
  min-height: 80vh;
}

.login__ventana-login {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--page-containers-bg-color);
}

.ventana-login__imagen {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
}

@media (max-width: 1478px) {
  .ventana-login__imagen {
    width: 35rem;
  }

  .ventana-login__formulario-login {
    width: 35rem;
  }
}

@media (max-width: 1318px) {
  .ventana-login__imagen {
    width: 30rem;
  }

  .ventana-login__formulario-login {
    width: 30rem;
    @include padding(4rem, 4rem, 4rem, 4rem);
  }
}

@media (max-width: 1174px) {
  .login__ventana-login {
    flex-direction: column;
  }

  .ventana-login__imagen {
    display: none;
  }
}

@media (max-width: 720px) {
  .ventana-login__formulario-login {
    width: 35rem;
    @include padding(2rem, 2rem, 2rem, 2rem);
  }
}

@media (max-width: 686px) {

  .ventana-login__formulario-login {
    width: 25rem;
    @include padding(4rem, 4rem, 4rem, 4rem);
  }
}

@media (max-width: 540px) {

  .login__ventana-login {
    width: 100%;
    @include padding(2rem, 2rem, 2rem, 2rem);
  }

  .ventana-login__formulario-login {
    width: 100%;
  }
}


/* --- FORMULARIO --- */

.ventana-login__formulario-login {
  height: 40rem;
  width: 40rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: start;

  @include padding(6rem, 6rem, 6rem, 6rem);
}

.formulario-login__error {
  color: var(--indian-red-400);
  width: 100%;
}

.formulario-login__titulo {
  color: var(--h1-text-color);
}

.formulario-login__label-login {
  font-weight: bold;
  color: var(--p-text-color);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  width: 100%;
}

.label-login__input {
  background-color: var(--form-input-bg-color);
  color: var(--form-text-color);

  @extend %campos-formulario;
  @include padding(0.5rem, 0.5rem, 0.5rem, 0.5rem);

  height: 2.5rem;
  width: 100%;
}

.label-login__input-error {
  border-color: var(--indian-red-400);
}

.fomulario-login__registro {
  cursor: pointer;
  color: var(--p-text-color);
}

.fomulario-login__registro:hover {
  text-decoration: underline;
}


/* --- NAVEGACIÓN: BOTONES --- */

.fomulario-login__navegacion-login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  width: 100%;
}

.navegacion-login__submit {
  @extend %botones;

  background-color: var(--btn-primary-bg-color);
  border: 0.25rem solid var(--btn-primary-border-color);
  color: var(--btn-primary-text-color);
}

.navegacion-login__submit:hover {
  background-color: var(--btn-primaty-bg-color-hover);
}

.navegacion-login__submit:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.navegacion-login__cancel {
  @extend %botones;

  background-color: var(--btn-cancel-bg-color);
  border: 0.25rem solid var(--btn-cancel-border-color);
  color: var(--btn-cancel-text-color);
}

.navegacion-login__cancel:hover {
  border: 0.25rem solid var(--btn-cancel-border-color-hover);
  color: var(--btn-cancel-text-color-hover)
}