.not-found {
  background: var(--page-containers-bg-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  height: 100vh;
  @include padding(2rem, 2rem, 2rem, 2rem);
}

.not-found__imagen {
  width: 70%;
  opacity: 0; /* Inicia invisible */
  animation: complexEntranceWithSpin 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes complexEntranceWithSpin {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-360deg) translateY(-50px);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.1) rotate(-180deg) translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg) translateY(0);
  }
}


.not-found__titulo {
  color: var(--h1-text-color);
}

.not-found__mensaje {
  font-weight: bold;
  color: var(--p-text-color);
  text-align: center;
}

.not-found__enlace {
  @extend %botones;
  background-color: var(--btn-primary-bg-color);
  border: 0.25rem solid var(--btn-primary-border-color);
  color: var(--btn-primary-text-color);
}

.not-found__enlace:hover {
  background-color: var(--btn-primaty-bg-color-hover);
}