.info-receta {
  display: flex;

  @include padding(3rem, 3rem, 0rem, 0rem)
}

.info-receta__tarjeta-info {
  background-color: var(--page-containers-bg-color);

  display: flex;
  gap: 1rem;

  width: 100%;
  min-height: 80vh;
  @include padding(4rem, 4rem, 6rem, 6rem)
}

.tarjeta-info__imagen {
  flex: 1;

  width: 100%;
  object-fit: cover;

}

.tarjeta-info__texto-info {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.tarjeta-info__encabezado-info {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  width: 100%;
}

.encabezado-info__nombre {
  color: var(--h1-text-color);
}

@media (max-width: 1460px) {
  .encabezado-info__nombre {
    font-size: 4rem;
  }

  .texto-info__ingredientes {
    font-size: 3.5rem;
  }
}

@media (max-width: 1320px) {
  .encabezado-info__nombre {
    font-size: 3.5rem;
  }

  .texto-info__ingredientes {
    font-size: 3rem;
  }

  .info-receta__tarjeta-info {
    @include padding(4rem, 4rem, 4rem, 4rem)
  }
}

@media (max-width: 1070px) {
  .info-receta__tarjeta-info {
    @include padding(4rem, 4rem, 2rem, 2rem)
  }
}

@media (max-width: 900px) {
  .encabezado-info__nombre {
    font-size: 3rem;
  }

  .texto-info__ingredientes {
    font-size: 2.5rem;
  }
}

@media (max-width: 900px) {
  .info-receta__tarjeta-info {
    flex-direction: column;
    height: 100%;
  }

  .tarjeta-info__texto-info {
    height: 100%;
  }

  .tarjeta-info__imagen {
    height: 20rem;
  }
}

@media (max-width: 500px) {
  .texto-info__detalles {
    width: 100%;
    text-align: center;
  }
}

.favortios__imagen {
  height: 2rem;

  cursor: pointer;
}

.texto-info__listado-datos {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.listado-datos__dato {
  color: var(--p-text-color);
}

.dato__nombre {
  color: var(--h6-text-color);
  font-weight: bold;
}

.texto-info__ingredientes {
  color: var(--h2-text-color);
}

.texto-info__listado-ingredientes {
  list-style: disc;
  padding-left: 2rem;
  color: var(--p-text-color);
  line-height: 2rem;
}

.texto-info__detalles {
  @extend %botones;
  background-color: var(--btn-primary-bg-color);
  color: var(--btn-primary-text-color);
  border: 0.25rem solid var(--btn-primary-border-color);
}

.texto-info__detalles:hover {
  background-color: var(--btn-primaty-bg-color-hover);
}