.registro {
  display: flex;
  align-items: center;
  justify-content: center;

  @include padding(3.5rem, 3.5rem, 2rem, 2rem);
}

.registro__ventana-registro {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--page-containers-bg-color);
  @include padding(2rem, 2rem, 2rem, 2rem);
}

.ventana-registro__imagen {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
}


/* --- FORMULARIO --- */

.ventana-registro__formulario-registro {
  width: 40rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;

  @include padding(0rem, 0rem, 6rem, 6rem);
}

.formulario-registro__error {
  color: var(--indian-red-400);
  width: 100%;
}

.formulario-registro__titulo {
  color: var(--h1-text-color);

}

.formulario-registro__label-registro {
  font-weight: bold;
  color: var(--p-text-color);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  width: 100%;
}

.label-registro__input {
  background-color: var(--form-input-bg-color);
  color: var(--form-text-color);

  @extend %campos-formulario;
  @include padding(0.5rem, 0.5rem, 0.5rem, 0.5rem);

  height: 2.5rem;
  width: 100%;
}

.label-registro__input-error {
  border-color: var(--indian-red-400);
}

.formulario-registro__login {
  cursor: pointer;
  color: var(--p-text-color);
}

.formulario-registro__login:hover {
  text-decoration: underline;
}


/* --- NAVEGACIÓN: BOTONES --- */

.formulario-registro__navegacion-registro {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  width: 100%;
}

.navegacion-registro__submit {
  @extend %botones;

  background-color: var(--btn-primary-bg-color);
  border: 0.25rem solid var(--btn-primary-border-color);
  color: var(--btn-primary-text-color);
}

.navegacion-registro__submit:hover {
  background-color: var(--btn-primaty-bg-color-hover);
}

.navegacion-registro__submit:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.navegacion-registro__cancel {
  @extend %botones;

  background-color: var(--btn-cancel-bg-color);
  border: 0.25rem solid var(--btn-cancel-border-color);
  color: var(--btn-cancel-text-color);
}

.navegacion-registro__cancel:hover {
  border: 0.25rem solid var(--btn-cancel-border-color-hover);
  color: var(--btn-cancel-text-color-hover)
}

/* --- @MEDIAS --- */
@media (max-width: 1478px) {
  .ventana-registro__imagen {
    width: 35rem;
  }

  .ventana-registro__formulario-login {
    width: 35rem;
  }
}

@media (max-width: 1318px) {
  .ventana-registro__imagen {
    width: 30rem;
  }

  .ventana-registro__formulario-login {
    width: 30rem;
    @include padding(4rem, 4rem, 4rem, 4rem);
  }
}

@media (max-width: 1174px) {
  .registro__ventana-registro {
    flex-direction: column;
  }

  .ventana-registro__imagen {
    display: none;
  }
}

@media (max-width: 720px) {
  .ventana-registro__formulario-registro {
    width: 35rem;
    @include padding(2rem, 2rem, 2rem, 2rem);
  }
}

@media (max-width: 686px) {

  .ventana-registro__formulario-registro {
    width: 25rem;
    @include padding(1.5rem, 1.5rem, 1.5rem, 1.5rem);
  }
}

@media (max-width: 636px) {
  .formulario-registro__navegacion-registro {
    flex-direction: column;
  }

  .navegacion-registro__submit, .navegacion-registro__cancel {
    width: 100%;
  }
}

@media (max-width: 540px) {

  .registro__ventana-registro {
    width: 100%;
    @include padding(2rem, 2rem, 2rem, 2rem);
  }

  .ventana-registro__formulario-registro {
    width: 100%;
  }
}