.registro {
  display: flex;
  align-items: center;
  justify-content: center;

  @include padding(3.5rem, 3.5rem, 2rem, 2rem);
}

.registro__ventana-registro {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--page-containers-bg-color);
}

.ventana-registro__imagen {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
}


/* --- FORMULARIO --- */

.ventana-registro__formulario-registro {
  width: 40rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: start;

  @include padding(0rem, 0rem, 6rem, 6rem);
}

.formulario-registro__error {
  color: var(--indian-red-400);
  width: 100%;
}

.formulario-registro__titulo {
  color: var(--h1-text-color);

}

.formulario-registro__label-registro {
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  width: 100%;
}

.label-registro__input {
  background-color: var(--form-input-bg-color);
  color: var(--form-text-color);

  @extend %campos-formulario;
  @include padding(0.5rem, 0.5rem, 0.5rem, 0.5rem);

  height: 2.5rem;
  width: 100%;
}

.label-registro__input-error {
  border-color: var(--indian-red-400);
}

.formulario-registro__login {
  cursor: pointer;
}

.formulario-registro__login:hover {
  text-decoration: underline;
}


/* --- NAVEGACIÓN: BOTONES --- */

.formulario-registro__navegacion-registro {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;

  width: 100%;
}

.navegacion-registro__submit {
  @extend %botones;

  background-color: var(--btn-primary-bg-color);
  border: 0.25rem solid var(--btn-primary-border-color);
  color: var(--btn-primary-text-color);
}

.navegacion-registro__submit:hover {
  background-color: var(--btn-primaty-bg-color-hover);
}

.navegacion-registro__submit:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.navegacion-registro__cancel {
  @extend %botones;

  background-color: var(--btn-cancel-bg-color);
  border: 0.25rem solid var(--btn-cancel-border-color);
  color: var(--btn-cancel-text-color);
}

.navegacion-registro__cancel:hover {
  border: 0.25rem solid var(--btn-cancel-border-color-hover);
  color: var(--btn-cancel-text-color-hover)
}